*{
    box-sizing: border-box;
}

:root {
    --primary-color: lightgray;
    --secondary-color: black; 
    --tertiary-color: #A0BF75;
    --bold: bold;
    --width: 500px; 
}

input,
texture,
select,
button {
    font-family: system-ui;
}

body {
font-family: mukta, sans-serif;
}

.nav-logo {
    margin-left: 20px;
    height: 40px;
    width: 40px;
    background-image: linear-gradient(to bottom right, #A0BF75, #647749);
    border-radius: 50%;
    cursor: pointer;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.page-header {
    display: flex;
    z-index:auto;
    width: 100%;
    padding: 20px; 
    padding-bottom: 10px;
    color: #647749;
}

.page-header__item {
    flex: 0 1 200px;
}

.page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
}

.navigation-list {
    list-style-type: none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
    transition: transform 1s ease;
    animation: 1s scaleLink forwards;
}

.navigation-list__item--active {
    font-weight: var(--bold);
    color: #647749;
}

a {
    text-decoration: none;
    color:#647749;
}

a:visited {
    color: #647749;
}

a:hover,
a:focus,
.submit:hover {
    cursor: pointer;
    opacity: 0.6;
    color: var(--tertiary-color);
}

a:active {
text-decoration: none;
}

.home-title {
    font-size: 50px;
    text-align: center;
}

.profile {
    margin: 0 auto;
    max-width: 700px;
    margin-top: 200px;
}

.short-description {
    text-align: center;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    font-weight: 500;
}

.project-list h2 {
text-align: center;
}

.page-footer{
    clear: both; 
    display: flex;
    flex-direction: column;
    text-align: center;
}

.page-footer__about {
    margin-top: 70px;
    margin-bottom: 70px;
}

.page-footer__work {
    margin-top: 100px;
    margin-bottom: 70px;
   
}

.page-footer__contact {
    margin: 50px 0;
}

.social-media{
    margin-left: -6px;
    margin-top: -5px;
}

.linkedin-logo {
    padding: 5px; 
}

.about {
    width: var(--width);
    height: auto;
    margin: 0 auto; 
    padding: 1%;
    line-height: 30px;
    font-size: medium;
    text-align: justify;
    margin-top: 100px;
}

.about-title {
    font-size: 50px;
    margin-top: -50px;
    margin-bottom: 50px;
}


.under-construction__text {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin-top: 250px;
}

.grid-container {
    margin: 100px 160px;
}

h4 {
    margin: 0 auto;
    width: 100px; 
    height: 100px; 
}

.screenshot {
    width: 800px;
    height: auto; 
    margin-left: 350px;
    border: 2px solid black;
}

.link-to-app-gh {
    margin-left: 850px;
    margin-top: 20px;
}

.description {
    width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: justify;
}

.contact-title {
    font-size: 50px;
    margin-top: 100px;
}

.contact-info {
    text-align: center;
    line-height: 30px;
    font-weight: 500;
}

.contact-form {
    text-align: center;
    line-height: 25px;
    padding-top: 25px;
}

input, textarea {
    width: 300px;
    height: 30px;
    border: 1px solid #A0BF75;
}

textarea {
    height: 250px;
}

.submit {
    height: 35px;
    width: 300px;
    transition: opacity 0.5s;
    background-image: linear-gradient(180deg, #A0BF75, #647749);
    border-radius: 2%;
}

.grid-container {
    display: inline-block;
    margin: 0 auto;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
    flex-wrap: wrap;
  }

  .video {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }

.project-cards-section {
   display: flex;
}

    .card-img-top {
        max-width: 300px;
    }

.profile-picture {
    
    width: 200px;
    margin: 0 auto;
    display: flex;
    border-radius: 2%;
    opacity: 90%;
}

@media all and (max-width: 430px) {
    .page-header {
        font-size: 15px;
    }
    
    .home-title, .about-title, .under-construction__text, .contact-title {
      font-size: 30px;
    }

    .short-description {
        font-size: 15px;
    }

    .about {
        max-width: 250px;
    }
}

